@{
    ViewData["Title"] = "Eliminar";
}

@model CRUDXimenaCastanedaEF.Models.Editoriale


<h1>Eliminar Editorial</h1>

<h3>¿Seguro que deseas eliminar?</h3>
<div>
    <h4>Editoriales</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sitioweb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sitioweb)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Nit">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Nit" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index">Volver al Listado</a>
    </form>
</div>
